:root{
    --primary:#af0000;
    --primary2:#00ADB5;
    --background:#EEEEEE;
    --typo:#222831;
    --success:#00f25d;
    --warning:#fe9f2f;
    --error:#fa1111;
    --dark1:#8c0000;
    --dark2:#6b0000;
    --light1:#bf3333;
    --light2:#cf6666;
}